/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.header__title {
    font-size: 24px;
    margin: 0;
}

.header__nav {
    margin-top: 10px;
}

.nav__list {
    list-style-type: none;
    padding: 0;
}

.nav__item {
    display: inline-block;
    margin-right: 20px;
}

.nav__link {
    text-decoration: none;
    color: #333;
}

.main-content {
    padding: 20px;
    min-height: 65vh;
}

.offer-section {
    margin-top: 20px;
}

.offer-section__title {
    font-size: 24px;
    margin-bottom: 15px;
}

.offer-section__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    height: 100px;
    object-fit: cover;
}

.product__title {
    font-size: 18px;
    margin-top: 10px;
}

.product__price {
    font-size: 16px;
    color: #888;
}

.product__btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product__btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
